.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff; /* Blanco */
    border: 1px solid #a4caef; /* Azul claro */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Gris claro */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro */
}

tr:hover {
    background-color: #e2e2e2; /* Gris más claro */
}

/* Estilos para el popup */
.modal {
    display: block; /* Muestra el popup */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe; /* Color de fondo */
    margin: 15% auto; /* Centrar el popup verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Botón de cerrar (x) del popup */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los inputs del formulario */
input[type='text'],
input[type='number'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type='text']:focus,
input[type='number']:focus {
    border: 3px solid #555;
}

.search-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align inputs and button vertically */
}

.search-section input {
    flex: 1; /* Inputs will take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add some spacing between inputs */
}

.search-button {
    background-color: #0366d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-button {
    /* Style for the button to load test data */
    background-color: #0366d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}